/* Note there a few "reset" styles given in reset.css. Review those before you begin */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  } 

   nav{
    display: flex;
    height: 60px;
    width: 100%;
    background: #1b1b1b;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
  }
  nav .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    text-decoration: none;
  }
  nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  nav ul li{
    margin: 0 5px;
  }
  
  nav ul li a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  nav ul li .user_products{
      margin-top: -5px; 
      padding: 0 0 0 0;

  }
  
  nav ul li a.active,
  nav ul li a:hover{
    color: #111;
    background: #fff;
  }
  
  nav .menu-btn i{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
  }
  
  input[type="checkbox"]{
    display: none;
  }
  
  @media (max-width: 1000px){
    nav{
      padding: 0 40px 0 50px;
    }
    
  }
  
  @media (max-width: 920px) {
    nav .menu-btn i{
      display: block;
    }
    #click:checked ~ .menu-btn i:before{
      content: "\f00d";
    }
    nav ul{
      position: fixed;
      top: 60px;
      left: -100%;
      background: #111;
      height: 100vh;
      width: 100%;
      text-align: center;
      display: block;
      transition: all 0.3s ease; 
    }
    #click:checked ~ ul{
      left: 0;
    }
    nav ul li{
      width: 100%;
      margin: 40px 0;
    }
    nav ul li a{
      width: 100%;
      margin-left: -100%;
      display: block;
      font-size: 20px;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked ~ ul li a{
      margin-left: 0px;
    }
    nav ul li a.active,
    nav ul li a:hover{
      background: none;
      color: cyan;
    }
    
  }
.page-header{
    display: grid;
    grid-template-columns: auto1fr auto auto;
}

.search{
    grid-row: 2;
    grid-column: 1/ span 4;
   
}


.results dd{
    font-size: smaller;
}
.results{
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    justify-content: center;
}
.product{
   
   
  
    overflow: hidden;
    box-shadow: 0px 2px 8px 0px var(--clr-gray-light);
    background-color: beige;
    text-align: center;
    border-radius: 1rem;
    position: relative;
    margin: 0.5rem;

}
.product_info li{
    
    display: inline;
    list-style: none;
   
}
.product_info{
    font-size: 11px;
}

.product_footer{
    margin:10px 0;
}
.product_footer button{
    height: 28px;
    font-size: 11px;
    text-align: center;
    padding-bottom: 20px;
    
}


 
